*.wav filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.avi filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
projects/project-final/libtorch/lib/libtorch_cpu.dylib filter=lfs diff=lfs merge=lfs -text
projects/project4/assets/sound/04_theimperialfleet.wav filter=lfs diff=lfs merge=lfs -text
